.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/yard-work.jpg");

    /* Set a specific height */
    height: 50vh;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    align-items: center;
    justify-content: center;
}

/* Place text in the middle of the image */
.hero-text {
    display: grid;
    grid-template-rows: auto auto;

    color: var(--white);
}

.slogan {
    margin: 0 auto;
}

.hero-button {
    margin: 0 auto;
}


@media (min-width: 640px) {
    .hero-image {
        height: 75vh;
    }
}