.navbar {
    /*md:flex md:flex-row md:justify-between w-screen bg-blue-100 p-3*/
    align-items: center;
    background-color: var(--yellow);
    overflow: hidden;
}

.navbar-top {
    /*flex flex-row justify-between*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.burger {
    cursor: pointer;
}

.logo {
    width: 100px;
    height: auto;
}

.nav-items {
    overflow: hidden;
    position: absolute;
    width: 100%;
    background-color: var(--yellow);
}

.nav-items.close {
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.nav-items.open {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}

.nav-item {
    color: var(--black);
    font-weight: bold;
    margin: 1rem 1rem;
    letter-spacing: 0.04rem;
}

@media (min-width: 640px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 110px;
        height: auto;
    }

    .burger {
        display: none;
    }

    .navbar-top {
        display: flex;
        justify-content: space-between;
    }

    .nav-items {
        display: flex;
        position: relative;
        width: fit-content;
        max-height: 1000px;
        margin-right: 0px;
    }
}