.reviews {
    background-color: var(--blue);
    width: 100%;
}

.actual-reviews {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
}

.review-header {
    color: var(--white);
    margin-left: 20px;
}

.review {
    justify-content: left;
    width: 300px;
}

.star {
    width: 20px;
    margin: 0 0.05rem;
    height: auto;
}