.service {
    display: grid;
    justify-content: center;
}

.icon-circle {
    background-color: var(--blue);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--yellow)
}

.service-button {
    margin-bottom: 10px;
}

.service-header {
    margin-left: 20px;
    margin-bottom: 0;
}

.service-icon.rake {
    margin-right: 20px;
    margin-top: 5px;
}

.service-icon.shovel {
    margin-right: 10px;
    margin-bottom: 15px;
}

.sub-item {
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
}

.service-cards {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

.service-card {
    padding: 5px;
    width: auto;
}

.service-title {
    text-align: center;
    line-height: 0.75rem;
}

.price {
    text-align: center;
    margin: 0 auto;
}

.dollars {
    font-size: 2rem;
}

p.service-description {
    height: 100px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

@media (min-width: 800px) {
    .service-cards {
        grid-template-columns: auto auto auto;
        width: 100%;
    }

    .service-card {
        width: auto;
    }
}
